/* Put your styles here */

@media (max-width: 599px) {
  #welcome { font-size: 3rem; }
  #product-container { grid-template-columns: repeat(1, 1fr); }
}

@media (min-width: 640px) {
  #product-container { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 960px) {
  #product-container { grid-template-columns: repeat(3, 1fr); }
}

@media (min-width: 1280px) {
  #product-container { grid-template-columns: repeat(4, 1fr); }
}